/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
}


.app-container {
  padding: 20px;
}


h1 {
  color: #333;
}


.search-input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  text-align: center;
}


.countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}


.countryCard {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 160px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.countryCard:hover {
  transform: scale(1.05);
}

.countryCard img {
  width: 100px;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.countryCard p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #333;
}


.no-results {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.loading-text {
  font-size: 18px;
  font-weight: bold;
  color: blue;
}

